.bg-inno-light {
    background-color: #eeeeee
}

.bg-inno-default {
    background-color: #ffffff;
}

.inno_btn {
    background-color: #9c27b0;
}

.inno_card {
    background: linear-gradient(60deg, #53b357, #43a047);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.2), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.inno_field {
    margin-top: 10px;
    margin-bottom: 10px;
}