{% extends "base.html" %}

{% block app_content %}
  <script src="{{url_for('static', filename='lib/Chart.js')}}"></script>
  <script src="{{url_for('static', filename='createChart.js')}}"></script>

  {% for question in results.keys() %}
    <div class="card shadow my-3 mb-3 bg-light">
      <div class="card-header">
        <h3>{{ question }}</h3> 
        
        {% if results[question]["type"] == "RadioField" %}
          <p><small>Closed-ended question</small></p>
        {% elif results[question]["type"] == "StringField" %}
          <p><small>Open-ended question</small></p>
        {% endif %}
      </div>
      
      <div class="card-body">
        {% if results[question]["type"] == "RadioField" %}
          <div class="row">
            <div class="col-sm">
              <ul class="list-group">
                {% for answer, count in results[question]["answers"].items() %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ answer }}
                    <span class="badge badge-secondary">{{ count }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-sm">
              <canvas id="{{ question }}", width="300", height="300"></canvas>
            </div>
          </div>
          
          <script>
            var labels = [{% for answer, count in results[question]["answers"].items() %} "{{ answer }}", {% endfor %}];
            var values = [{% for answer, count in results[question]["answers"].items() %}  {{ count }},  {% endfor %}];
            
            createPieChart("{{question}}", labels, values);
          </script>
          
        {% elif results[question]["type"] == "StringField" %}
          <ul class="list-group">
            {% for answer in results[question]["answers"] %}
              <li class="list-group-item">{{ answer }}</li>                 
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
