{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block page_header %}
<h2 class="text-center">Authorization</h2>
{% endblock %} {% block app_content %}
<p class="lead">
    Temporary Hint:
</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">ID 1 - student, can access to all courses</li>
    <li class="list-group-item">ID 2 - student, can access only to [OS] and [PS]</li>
    <li class="list-group-item">ID 3 - student, can access only to [OS] and [P1]</li>
    <li class="list-group-item">ID 4 - professor, can access to all courses</li>
    <li class="list-group-item">ID 5 - professor, can access only to [P1] and [PS]</li>
    <li class="list-group-item">ID 6 - professor, don't have any access</li>
    <li class="list-group-item">ID 7 - DoE, have access to anything</li>
</ul>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form( form ) }}
    </div>
</div>
{% endblock %}