{% extends "base.html" %} {% block page_header %}
<h2 class="text-center">Authorization</h2>
{% endblock %} {% block app_content %}
<div class="row justify-content-center">
    <form class="col-4 align-self-center" action="" method="post">
        {{ form.hidden_tag() }}

        <h1 class="text-center">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label> {{ form.email(class = 'form-control inno_field', placeholder = 'Email address') }} {{ form.submit(class = 'btn btn-lg btn-block inno_card') }}
    </form>
</div>
{% endblock %}