<p>Dear {{ user.email }},</p>
<p>
    To auth in Inno Feedback App
    <a href="{{  url_for('auth', token=user.get_auth_token(), _external = True)  }}">
        click to link
    </a>.
</p>
<p>Or parst this link to the browser search field:</p>
<p>{{  url_for('auth', token=user.get_auth_token(), _external = True)  }}</p>
<p>If you do not request auth please ignore this email.</p>
<p>Best regards,</p>
<p>Inno Feedback App Team</p>
