<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {%- block styles %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='inno_style.css')}}"> {%- endblock styles %}

    <title>
        {% block title %} {% if title %}{{ title }}{% else %}Inno Feedback{% endif %} {% endblock %}
    </title>
</head>

<body class="bg-inno-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-inno-default">
        <a class="navbar-brand btn btn-light btn-outline-secondary" href="{{ url_for('index') }}">Home</a>
        
        <a class="nav-link disabled text-secondary" href="#" tabindex="-1" aria-disabled="true">{{ current_user.email }}</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Menu">
        <span class="navbar-toggler-icon"></span>
      </button>
        
        
        
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if not current_user.is_anonymous %}
                
                
                <li class="nav-item dropdown mx-3 my-1 ">
                    <a class="btn btn-secondary dropdown-toggle inno_card" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
                    <div class="dropdown-menu">
                        {% for course in current_user.courses %}
                        <a class="dropdown-item" href="{{ url_for('view_course', id = course.id) }}">{{ course.name }}</a> {% endfor %}
                    </div>
                </li>
                
                {% endif %} {% block navbar %}{% endblock %}
            </ul>

            <span class="navbar-text">
          {% if current_user.is_anonymous %}
            <a class="btn btn-light btn-outline-secondary" href="{{ url_for('logout') }}">Login</a>
          {% else %}
            
          
            <a class="btn btn-light btn-outline-secondary" href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </span>
        </div>
    </nav>

    <div role="main" class="container">
        <div class="shadow-sm p-3 my-3 bg-light rounded">
            {% block page_header %}
            <h1 class="text-center">Inno Feedback App</h1>
            {% endblock %} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %} {% endif %} {% endwith %}

        </div>

        {% block app_content %}{% endblock %}
    </div>

    {% block scripts %}
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    {%- endblock scripts %}
</body>

</html>
