{% extends "base.html" %}

{% block navbar %}
  {% if course.check_permission(current_user, 8) %}
    <li class="nav-item mx-3 my-1" role="group" aria-expanded="false">
      <a href="{{ url_for('form_constructor', id = course.id) }}" class="btn btn-secondary inno_card">Create form</a>
    </li>
  {% endif %}
{% endblock %}

{% block page_header %}
  <h2 class="text-center">{{ course.name }}</h2>
{% endblock %}

{% block app_content %}
  <div class="row">
    {% for (form, can_fill, can_view) in course.get_forms_for_user(current_user) %}
    <div class="col-sm-auto">
        <div class="card shadow my-3 mb-3 bg-light">
            <h3 class="card-header">{{ form.name }}</h3>

            <div class="card-body">
                {% if form.deadline
                < form.deadline.max %} <p class="card-text">Deadline: {{ form.deadline.strftime("%A %d %B, %H:%M") }}</p>
                    {% endif %} {% if can_fill %} {% if form.is_filled_by(current_user) %}
                    <a role="button" class="btn btn-success" disabled="True">Already filled!</a> {% elif form.check_deadline() %}
                    <a role="button" href="{{ url_for('fill_form',  id = form.id) }}" class="btn btn-secondary inno_card">Fill</a> {% else %}
                    <a role="button" class="btn btn-danger" disabled="True">Deadline is over!</a> {% endif %} {% endif %} {% if can_view %}
                    <a class="btn btn-secondary inno_card" href="{{ url_for('view_answers',  id = form.id) }}" role="button">Show grouped by questions</a>
                    <a class="btn btn-secondary inno_card" href="{{ url_for('view_worksheets', id = form.id) }}" role="button">Show grouped by forms</a> 
                    <a class="btn btn-danger" href="{{ url_for('form_delete', id = form.id) }}" role="button">Delete</a>{% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
