{% extends "base.html" %} {% block styles %} {{ super() }}

<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
<link rel="stylesheet" href="https://tempusdominus.github.io/bootstrap-4/theme/css/tempusdominus-bootstrap-4.css"> {% endblock %} {% block page_header %}
<h2 class="text-center">Form Constructor</h2>

{% if form.errors %} {% for fieldname, errors in form.errors.items() %} {%- for error in errors %}
<div class="alert alert-danger" role="alert">{{ form[fieldname].label }}: {{ error }}</div>
{%- endfor %} {%- endfor %} {%- endif %} {% endblock %} {% block app_content %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Save form?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <button type="button" onclick="setTimeout(sendForm, 1000)" class="btn btn-primary" data-dismiss="modal">Save</button>

                <a href="#" class="btn btn-danger">Discard</a>
            </div>
        </div>
    </div>
</div>

<li class="row my-3" hidden="True" id="otemplate">
    <input type="text" class="col-sm mx-3 list-group-item form-control" placeholder="Option..." required>
    <button onclick="deleteOption(this)" class="btn mx-3 col-sm-2 btn-danger">Remove option</button>
</li>

<div class="row" id="qtemplate" hidden="True">
    <div class="col">
        <div class="card shadow my-3 mb-3 bg-light">
            <div class="card-header">
                <input type="text" id="qlabel" class="form-control" placeholder="Question..." required>
            </div>

            <div class="card-body">
                <fieldset class="form-group">
                    <div class="row">
                        <div class="col-sm">
                            <form>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="qtype" id="gridRadios1" value="StringField" checked>
                                    <label class="form-check-label" for="gridRadios1">
                      Open answer
                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="qtype" id="gridRadios2" value="RadioField">
                                    <label class="form-check-label" for="gridRadios2">
                      Close answer
                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1" name="qrequired">
                            <label class="form-check-label" for="gridCheck1">
                  Required
                </label>
                        </div>
                    </div>
                </div>

                <div class="form-group qtype_field" id="qopen">

                </div>

                <div class="form-group qtype_field" id="qclose" style="display:none">
                    <ul class="list-group" id="options">

                    </ul>

                    <button onclick="addOption(this)" class="btn my-3 btn-secondary inno_card">Add option</button>
                </div>

                <nav>
                    <button onclick="deleteQuestion(this)" class="btn btn-secondary inno_btn">Remove Question</button>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card shadow my-3 mb-3 bg-light">
            <div class="card-header">
                <h3>General</h3>
            </div>

            <div class="card-body">
                <form action="" method="post" id="constructor">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <label for="name">Name</label> {{ form.name(class = 'form-control', id = 'name', placeholder = 'New Form...') }}
                    </div>

                    <div class="form-group">
                        <label for="name">Deadline</label>

                        <div class="input-group date" id="deadlinepicker" data-target-input="nearest">
                            {{ form.deadline(class = 'form-control datetimepicker-input', data_target = '#deadlinepicker') }}

                            <div class="input-group-append" data-target="#deadlinepicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.json() }} {{ form.submit(hidden = True) }}
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="questions">

</div>

<div class="row">
    <div class="col">
        <div class="card shadow my-3 mb-3 bg-light">
            <div class="card-body">
                <nav>
                    <button type="button" class="btn btn-secondary inno_card" data-toggle="modal" data-target="#exampleModal">Save</button>
                    <button onclick="addQuestion()" class="btn btn-secondary inno_btn">Add Question</button>
                    <button type="button" class="btn btn-light btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">Discard</button>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {{ super() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment-with-locales.min.js" integrity="sha512-EATaemfsDRVs6gs1pHbvhc6+rKFGv8+w4Wnxk4LmkC0fzdVoyWb+Xtexfrszd1YuUMBEhucNuorkf8LpFBhj6w==" crossorigin="anonymous"></script>

<script src="https://tempusdominus.github.io/bootstrap-4/theme/js/tempusdominus-bootstrap-4.js"></script>

<script type="text/javascript">
    $(function() {
        $('#deadlinepicker').datetimepicker({
            format: "dddd, MMMM DD YYYY, HH:mm",
            useCurrent: false,
            locale: 'en',
            minDate: moment()
        });
    });
</script>

<script type="text/javascript">
    function sendForm() {
        let questions = $("#questions").children();

        let f = new Array();

        if (questions.length == 0) {
            alert('There are no questions!');
            return;
        }

        for (i = 0; i < questions.length; ++i) {
            let q = Object();

            let params = Object();

            let qs = $(questions[i]);

            q.name = 'question_' + qs.attr('id');
            params.label = $(qs.find('#qlabel')[0]).val();

            let str_f = qs.find('input[name=qtype]')[0];
            let rad_f = qs.find('input[name=qtype]')[1];

            // StringField
            if (str_f.checked) {
                q.type = str_f.value;
            }
            // RadioField
            else if (rad_f.checked) {
                q.type = rad_f.value;

                params.choices = new Array();

                let answers = qs.find('#options').children()

                if (answers.length == 0) {
                    alert('There are no answers!');
                    return;
                }

                for (j = 0; j < answers.length; ++j) {
                    let a = $(answers[j]).find('input').val();

                    if (a == "") {
                        alert("Empty option.");
                        return;
                    }

                    params.choices.push(a);
                }

            } else {
                alert("No type for a question.");
                return;
            }


            q.validators = new Array();

            if (qs.find('input[name=qrequired]')[0].checked) {
                let dr = Object();

                dr.type = 'DataRequired';

                q.validators.push(dr);
            } else {
                let dr = Object();

                dr.type = 'Optional';

                q.validators.push(dr);
            }

            if (q.label == "") {
                alert("One of the questions has no name.");
                return;
            }

            if (q.label == "") {
                alert("One of the questions has no name.");
                return;
            }

            q.params = params;

            console.log(q)

            f.push(q);
        }

        $('#json').val(JSON.stringify(f));

        $('#submit')[0].click()

        //window.location.assign("{{ url_for('index') }}");
    }

    function toggleType() {
        let e = $(this.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode);

        if (this.value == 'StringField') {
            e.find('#qopen').show()
            e.find('#qclose').hide()
        }

        if (this.value == 'RadioField') {
            e.find('#qopen').hide()
            e.find('#qclose').show()
        }

        console.log(e);
    }

    function addQuestion() {
        let q = $("#qtemplate").clone();

        let id = 0;

        let questions = $("#questions").children();

        if (questions.length != 0) {
            id = parseInt(questions.last().attr('id'));
        }

        q.attr('hidden', false);
        q.attr('id', id + 1);

        q.find('input[name=qtype]').click(toggleType);

        console.log();

        q.appendTo("#questions");
    }

    function deleteQuestion(e) {
        e.parentNode.parentNode.parentNode.parentNode.parentNode.remove();
    }

    function addOption(e) {
        let q = $("#otemplate").clone();

        let id = 0;

        let options = $(e.parentNode).find('#options');

        if (options.children().length != 0) {
            id = parseInt(options.children().last().attr('id'));
        }

        q.attr('hidden', false);
        q.attr('id', id + 1);

        q.appendTo($(options));
    }

    function deleteOption(e) {
        e.parentNode.remove();
    }
</script>

{% endblock %}