{% extends "base.html" %} {% block page_header %}
<h1 class="text-center">Courses</h1>
{% endblock %} {% block app_content %} {% if current_user.courses == [] %}
<div class="shadow-none p-3 my-3 bg-light rounded">
    <h6 class="text-center text-danger lead">You don't have access to any course.</h6>
</div>
{% else %}
<div class="row">
    {% for course in current_user.courses %}
    <div class="col-sm-auto">
        <div class="card shadow my-3 mb-3 bg-light">
            <h3 class="card-header inno_title">{{ course.name }}</h3>

            <div class="card-body">
                <div class="btn-group" role="group">
                    <form action="{{ url_for('view_course', id = course.id) }}">
                        <input type="hidden" name="id" value="{{ course.id }}">
                        <button type="submit" class="btn inno_card inno_shadow">View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %} {% endblock %}