{% extends "base.html" %}

{% block page_header %}
  <h2 class="text-center">{{ name }}</h2>
{% endblock %}

{% block app_content %}
  <div class="row">
    {% for worksheet in results %}
      <div class="col-sm-auto ">
        <div class="card shadow my-3 mb-3 bg-light">
          <h3 class="card-header">Feedback</h3>
          
          <div class="card-body">
            {% for (question, answer) in worksheet %}
              <div class="card shadow my-3 mb-3 bg-light">
                <h3 class="card-header">{{ question }}</h3>
              
                <div class="card-body">{{ answer }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

